<html>
  <head>
    <title>stupid meme generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='meme.css') }}">
  </head>
  <body>

    <div id="btns" align="right">
      <input id="edit-btn" type="button" value="Edit">
      <input id="done-btn" type="button" value="Done" style="display:none">
      <input id="clear-btn" type="button" value="Clear All" style="display:none">
    </div>
    <div>
      <table width="100%">
        <textarea id="title" readonly></textarea>
      </table>
    </div>
    <table width="100%">
      <tr>
        <td>
          <table id="content-inner-table"><tr><td id="content-inner-td">
            <ul id="content-pane"></ul>
          </td></tr></table>
        </td>
        <td id="edit-td" width="50%" style="display:none">
          <ul id="edit-pane"></ul>
        </td>
      </tr>
    </table>
    <script src="{{ url_for('static', filename='jquery-2.1.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='meme.js') }}"></script>
    <script src="{{ url_for('static', filename='autosize.min.js') }}"></script>
  </body>
</html>
